 <div id="tudo">
     {{>header}}
    <div id="content">
        <div id="content2">
        <h1>Seja bem-vindo</h1>
        <h2>O que você deseja fazer?</h2>
        <div id="buttons">
        <a href="/admin/addPost" class="btn1"><button>Adicionar Post</button></a>
        <a href="/admin/removePost/" class="btn2"><button>Remover post</button></a>
        <a href="/admin/editPost/" class="btn3"><button>Editar post</button></a>
        </div>
        </div>
    </div>
     {{>footer}}
 </div>