 <div id="tudo">
     {{>header}}
    <form action="/usuarios/login" method="POST">
    <label for="email">Seu email:</label>
    <input type="text" name="email" id="email">
    <label for="senha">Sua senha:</label>
    <input type="password" name="senha" id="senha">
    <button type="submit">Entrar</button>
    </form>
     {{>footer}}
 </div>