body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto Mono', monospace;
    background-color: #f8f8f4;
}

#tudo {
    display: grid;
    grid-template-rows: 130px 1fr 100px;
    grid-template-areas: "header"
    "form"
    "footer";
}


/*--------------------HEADER-----------------------*/

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin: 0 25px 30px 25px;
    color: #179b84;
    border-bottom: 2px solid #f2634a;
}

@media(max-width: 700px){
    header {
        display: grid;
        margin: 0 auto;
        justify-items: center;
    }

    header h1 {
        padding: 0;
        margin: 15px 0 10px 0;
    }
}

header h1 {
    font-style: italic;
    margin-left: 10px;
    padding-bottom: 2px;
}

header a {
    text-decoration: none;
    color:#179b84;
    cursor: pointer;
    border-bottom: 2px solid rgba(0, 0, 0, 0);
}

header a:hover {
border-bottom: 2px solid #f2634a;
}

header ul {
    list-style: none;
    display: flex;
    margin-right: 10px;
}

header ul a + a{
    margin-left: 35px;
}

/*--------------------FORM-----------------------*/

form {
    grid-area: form;
    margin: 0 auto;
    color: #179b84;
    display: grid;
    grid-template-areas: 
    "button button"
    "titulo titulo"
    "descricao descricao"
    "img conteudo1"
    "conteudo2 conteudo2"
    "conteudo3 conteudo3";
    grid-template-columns: 1fr 1.6fr;
}

@media(max-width: 1050px){
    form{
        grid-template-areas: 
        "button button"
        "titulo titulo"
        "descricao descricao"
        "img img"
        "conteudo1 conteudo1"
        "conteudo2 conteudo2"
        "conteudo3 conteudo3";
        grid-template-columns: 1fr;
    } 
    
    form button{
      margin: 0 auto;
    }
    
.img {
    justify-self: center;
    margin-right: 0px;
    margin-left: 20px;
}
    .conteudo1 textarea {
        height: 350px;
        width: 100%;
        margin: 0;
        padding: 0;
    }
}

form .input + .input{
    margin-top: 20px;
}

form input {
    width: 400px;
    height: 20px;
    border-radius: 5px;
}

.titulo{
    grid-area: titulo;
    justify-self: center;
}

.descricao{
    grid-area: descricao;
    justify-self: center;
}

.img {
    grid-area: img;
    justify-self: left;
    margin-right: 20px;
}

.img textarea {
    height: 300px;
    width: 400px; 
}

.conteudo1 {
    grid-area: conteudo1;
}

.conteudo1 textarea {
    min-height: 235px;
    line-height: 1.5;
}

.conteudo2 {
    grid-area: conteudo2;
}

.conteudo2 textarea {
    min-height: 350px;
    line-height: 1.5;
}

.conteudo3 {
    grid-area: conteudo3;
}

.conteudo3 textarea {
    min-height: 350px;
    line-height: 1.5;
}

form textarea {
    width: 100%;
    border-radius: 5px;
    font-size: 20px;
}

form button{
    border: 2px solid #f2634a;
    color: #f2634a;
    background-color: transparent;
    border-radius: 3px;
    font-family: 'Roboto Mono', monospace;
    padding: 3px 12px;
    max-width: 100px;
    font-size: 15px;
    cursor: pointer;
    margin-top: 30px;
    transition: 0.5s;
    grid-area: button;
    justify-self: right;
}

form button:hover{
    background-color: #179b84;
    border-color: #179b84;
    color: white;
}
/*--------------------FOOTER-----------------------*/

footer {
    grid-area: footer;
    color: #179b84;
    text-align: center;
    padding: 15px 0;
    margin: 15px 25px 0 25px;
    border-top: 2px solid #f2634a;
}